/** Hero Styles **/

.home{
	section.hero{
	height: 87vh;
	padding: 0;
		div#hero-slide {
	    height: 100%;
		
			.carousel-inner {
			height: 100%;
				.carousel-item{
					height: 100%;
				
					img{
						object-fit: cover;
					    object-position: top;
					    height: 100%;
					}
				}
			}
		}
	}
}

section.hero{
	height: 350px;
	padding: 0;
		div#hero-slide {
	    height: 100%;
		
			.carousel-inner {
			height: 100%;
				.carousel-item{
					height: 100%;
				
					img{
						object-fit: cover;
					    object-position: top;
					    height: 100%;
					}
				}
			}
		}
	}