// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
@import url('https://fonts.googleapis.com/css?family=Raleway');

$primary: #CB70AD; // Thats a sample how you could change a BootStrap variable.
$secondary: #F0E919;
$gray: #53565A;
$pink : $primary;
$yellow: $secondary;


$primary-font: 'Raleway', sans-serif;
$font-color: #212529;